body {
	background-color: #f8f9fa;
}

.login-form {
	max-width: 400px;
	margin: 10 auto;
	padding: 50px 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin-top: 10%;
}

.signup-form {
	max-width: 400px;
	margin: 0 auto;
	padding: 50px 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin-top: 10%;
}